.wrapper {
    max-width: 1100px;
    margin: auto;
    text-align: center;
    padding: 100px;
  }
 

.card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding: 30px;
    background-color: darkgrey;
    cursor: pointer;
  }

  .flexx {
      display: flex;
      width: 100%;
     text-align: start;
     flex-direction: column;
  }

  .btn-flex{
    
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }
