.wrap {
    max-width: 1100px;
    margin: auto;
    height: 100vh;
    text-align: center;
    padding: 100px;
  }
  
  
  .form-group-field {
      width: 300px;
      margin: auto;
      margin-top: 10px;
  }
  
  .form-group-field input{
      width: 100%;
      padding: 4px;
      margin: 5px 0;
      box-sizing: border-box;
  }
  
  .err-msg{
      color: blue;
  }

  
.buttons {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 200px;
}

button {
    margin-top: 10px;
}